{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin Ratings Controller{% endblock %}

{% block body %}
<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Avis</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for avi in avis %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ avi.avis }}</td>
                        <td>{{ avi.commentaire }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

