
{% extends 'baseAdmin.html.twig' %}

{% block title %}New Promotion - TFANNEN{% endblock %}

{% block banner_background %}
    data-background="{{ asset('assets/images/shop/banner.jpg')}}"
{% endblock %}

{% block banner_title %}
    Create a New Promotion
{% endblock %}

{% block banner_subtitle %}
    Fill in the details to create a new Promotion
{% endblock %}




{% block body %}
    <!-- Your page content goes here -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <section class="contact pt-130 pb-130">
                    <div class="container">
                        <div class="row g-4">
                            
                            <div class="col-lg-6">
                                <div class="form-area">
                                     
                                    <div class="col-12">
                                          <h1>Edit Promotion</h1>

    {{ include('competition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_competition_dash') }}">back to list</a>

    {{ include('competition/_delete_form.html.twig') }}
   

</div>

    

  

 


                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}