{% extends 'base.html.twig' %}

{% block title %}New Design - TFANNEN{% endblock %}

{% block banner_background %}
    data-background="{{ asset('assets/images/banner/banner-two-image2.jpg')}}"
{% endblock %}

{% block banner_title %}
    Create a New Design
{% endblock %}

{% block banner_subtitle %}
    Fill in the details to sign up
{% endblock %}

{% block body %}

<main>
 


 

    <!-- Login area start here -->
    <section class="login-area pt-130 pb-130">
        <div class="container">
            <div class="login__item">
                <div class="row g-4">
                    <div class="col-xxl-8">
                        <div class="login__image">
                            <img src="{{ asset('assets/images/register/res-image1.jpg')}}" alt="image">
                            <div class="btn-wrp">
                                <a href="login.html">sign in</a>
                                <a class="active" href="register.html">create account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <div class="login__content">
                            <h2 class="text-white mb-65">Welcome Back</h2>
                            <div class="form-area login__form">
                                {# Start the form rendering #}








 {% endblock %}